.course-record
{
	position: relative;
	height: auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	padding-top: 10px; 
	text-align: center;
}

.fake-link
{
	color: blue;
	text-decoration: underline; 
	cursor: pointer; 
}; 