/*

\brief This is CSS for the home view
\author Chris Forehand
\date 3/20/14
\verbatim
	Test Cases: 
	
\endverbatim

*/

#ctrlLogin
{
	position: relative; 
	width: 380px;
	height: 200px; 
	margin-left: auto;
	margin-right: auto;
}