/*

\brief This is CSS for registration view
\author Chris Forehand
\date 3/20/14
\verbatim
	Test Cases: 
	
\endverbatim

*/

#ctrlRegistration
{
	position: relative; 
	width: 375px;
	height: 400px; 
	margin-left: auto;
	margin-right: auto;
}