/*

\brief This is CSS for the registration control
\author Chris Forehand
\date 3/20/14
\verbatim
	Test Cases: 
	
\endverbatim

*/

.vc-registration-control
{
	width: 100%; 
	height: 100%; 
}

.vc-registration-control .pnl-container
{
	height: 100%;
	width: 100%;
}

.vc-registration-control .reg-form-label
{
	display: block;
	height: 60px;
	font-weight: bold;
	font-size: 18px;
	width: 375px;
}

.vc-registration-control .reg-form-input
{
	position: absolute;
	left: 122px;
	width: 250px;
	height: 30px;
	font-size: 14px;
}

.vc-registration-control .btn-form
{
	height: 40px;
	width: 120px; 
}

.vc-registration-control .pnl-button-container
{
	position: relative;
	width: auto;
	height: 40px;
	left: 122px; 
}

.vc-registration-control .pnl-forgot-password
{
	float: right;
	padding-top: 10px;
	font-size: 14px;
}

.vc-registration-control .lnk-register-account
{
	padding-right: 43px; 
}

#btnSubmit
{
	margin-right: 10px; 
}